<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sipariş Detayları</title>
    <link rel="stylesheet" href="/stylesheets/form.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <form action="/checkout/enteraddress" method="POST" enctype="multipart/form-data">
          <h1>
            <i class="fas fa-shipping-fast"></i>
            Adres Bilgileri
          </h1>
          <div>
            <label for="hesqrcode"
              >HES QR Kodunuzu içeren fotoğrafı yükleyin</label
            >
            <input
              type="file"
              id="hesqrcode"
              name="hesqrcode"
			  value="Fotoğraf seç"
              accept="image/png, image/jpeg"
              
            />
          </div>

          <div class="col-1">
            <div>
              <label for="cities">ŞEHİR</label>
              <select name="cities" id="cities" >
                <option value="" disabled selected hidden>Şehir Seç</option>
              </select>
            </div>
          </div>

          <div class="col-1">
            <div>
              <label for="towns">İLÇE</label>
              <select name="towns" id="towns" >
              </select>
            </div>
          </div>

          <div class="col-1">
            <div>
              <label for="addressline1">ADRES SATIRI 1</label>
              <input
                type="text"
                name="addressline1"
                placeholder="Mahalle, Sokak..."
                
              />
            </div>
          </div>

          <div class="col-1">
            <div>
              <label for="addressline2">ADRES SATIRI 2</label>
              <input
                type="text"
                name="addressline2"
                placeholder="Apartman, Kat, Daire Numarası..."
                
              />
            </div>
          </div>
          <div class="col-1">
            <div>
              <label for="phone">TELEFON</label>
              <input class="input-phone" type="text" name="phone" />
            </div>
          </div>
          <div class="col-1">
            <div>
              <label for="email">EPOSTA</label>
              <input class="email" type="email" name="email" placeholder="e-posta adresini gir"/>
            </div>
            <div>
              <label for="email">EPOSTA</label>
              <input class="email" type="email" name="email" placeholder="e-posta adresini tekrar gir"/>
            </div>
          </div>
          <div class="btns btns-single">
            <input id="btn-next" class="btn" type="submit" value="ÖDEME ADIMINA GİT"></input>
          </div>
        </form>
      </div>
    </div>

    <script defer src="/javascripts/cleave/cleave.js"></script>
    <script defer src="/javascripts/cleave/phone.tr.js"></script>
    <script defer src="/javascripts/address.js"></script>

  </body>
</html>
