<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sipariş Detayları</title>
    <link rel="stylesheet" href="/stylesheets/form.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <form action="">
          <h1><i class="far fa-credit-card"></i> Ödeme Bilgileri</h1>
          <div class="col-1">
            <div>
              <label for="cardnum">KART NUMARASI</label>
              <input type="text" class="credit-card" name="cardnum" required/>
            </div>
          </div>
          <div class="col-2">
            <div class="date-field">
              <label for="expiry">AY</label>
              <input type="text" class="expiry" name="expiry" placeholder="AA/YY" />
            </div>
            <div class="ccv">
              <label for="ccv">CCV</label>
              <input type="text" class="ccv-num" name="ccv" placeholder="CCV" />
            </div>
          </div>
          <div class="btns">
            <a id="btnback" class="btn-light" href="/">GERİ DÖN</a>
            <a id="btnpay">ÖDEME YAP</a>
          </div>
        </form>
      </div>
    </div>

    <script defer src="/javascripts/cleave/cleave.js"></script>
    <script defer src="/javascripts/purchase.js"></script>

  </body>
</html>
